* {
  box-sizing: border-box;
  outline: none;
}
.App {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

body{
  border: 0;
  font: 100%;
  display: block;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* modifico el directorio: */
  background-image: url("img/background.png");  
  background-color: #212240;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}


h1.main {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}
.row {
  padding-top:30px;
  padding-left: 0px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 15%;
}
ol,
ul {
  list-style: none;
}

a {
  cursor: pointer;
}


table {
  border-spacing: 0;
  /* border-collapse: collapse; */
}

a {
  text-decoration: none;
}


input[type="number"],
input[type="number"] {
  margin: 5px;
  text-align: center;
}
.products {
  padding: 40px 0px 40px 20px;
  float: left;
  width: 70%;
  background-color: white ;
}

.product h1 {
  color: #900af0;
  font-size: 16px;
  line-height: 24px;
}

.product-image {
  display: flex;
  flex-flow: row nowrap;
}

.product-image img {
  margin-right: 16px;
  padding: 10px;
  width: 72px;
  height: 72px;
  border: 1px solid #cacad1;
  border-radius: 4px;
}
.product-price {
  color: #000000;
  font-size: 16px;
}
.product-code {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
}
.product-code {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
}

.product-quantity {
  width: 40px;
  height: 40px;
  border: 2px solid #dbdbe0;
  border-radius: 4px;
  text-align: center;
}

.product-image img {
  margin-right: 16px; 
  width: 72px;
  height: 72px;
  border: 1px solid #cacad1;
  border-radius: 4px;

} 

[class*="col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-product {
  width: 50%;
}

.col-quantity {
  width: 20%;
}

.col-price {
  width: 20%;
}

.col-total {
  width: 10%;
}

input {
  margin: 5px;
  width: 50%;
  height: 30px;
  border: 1px solid #000;
  border-radius: 4px;
}



.products-list {
  position: relative;
  width: 100%;

}
.summary {
  background-color: #f3f3f3;
  color: #212240;
  padding: 40px 0px 40px 56px;
  float: right;
  width: 30%;
}

.summary > * {
  width: 80%;
}

.summary-discounts h2{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.summary-items-price {
  font-size: 16px;
}

.summary ul li {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.summary ul li > *:nth-child(2) {
  font-weight: bold;
} 

.summary-total {
  align-self: flex-end;
  padding-top: 16px;
  border-top: 1px solid rgba(33, 34, 64, 0.16);
  color: #212240;
}

.summary-total-cost {
  text-transform: uppercase;
}

.summary-total-price {
  font-weight: bold;
}

.summary button[type="submit"], .bonus_summary_button {
  margin-top: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #900af0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.bonus_summary {
  position: fixed;
  top: 20%;
  right:30%;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  width: 500px;
  background-color: #f3f3f3;
  color: #212240;
}

.bonus_summary-items-price {
  font-size: 16px;
  font-weight: bold;
}

h2,
.product-code {
  font-size: 12px;
  line-height: 16px;
}

.product-quantity,
.summary input,
.summary ul li,
.summary-total-cost {
  font-size: 14px;
  line-height: 17px;
}


.products button.count,
.summary-total-price {
  font-size: 20px;
  line-height: 25px;
}

h2 {
  color: #717285;
  letter-spacing: 0;
  font-weight: 300;
}


h1 {
  position: relative;
  font-size: 18px;
  line-height: 24px;
}

.currency {
  margin-left: 4px;
}

.products {
  padding: 40px 32px 40px 56px;
}

.products button.count {
  padding: 0 8px;
  height: 40px;
  border: none;
  background: transparent;
  color: #900af0;
  font-weight: bold;
  cursor: pointer;
}

.bonus_image img {
  margin-right: 16px;
  width: 500px;
  border: 1px solid #cacad1;
  border-radius: 4px;
}

#clickclose {
  background-color: white;
  position: relative;
  top: -10px;
  right: -140px;
  width: 20%;
  height:10%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.bonus_image{
  margin-right: 16px;
  width: 250px;
  height: 250px;
  border: 1px solid #d0cad1;
  border-radius: 4px;
} 